<p class="font-semibold mb-2 text-slate-700"><%= l(@article.created_at, format: "%d %B %Y", locale: :fr) %></p>

<h1 class="text-5xl font-bold font-serif text-indigo-900 mb-8"><%= @article.title %></h1>

<article class="font-serif text-2xl text-slate-700 mx-auto">
  <%= @article.content %>
</article>
