<p class="font-semibold mb-2 text-slate-700"><%= l(@article.created_at, format: "%d %B %Y", locale: :fr) %></p>
<img src="https://place-hold.it/1200x800" class="object-none h-64 w-full" />
<h1 class="text-5xl font-bold font-serif text-indigo-900 my-8"><%= @article.title %></h1>

<article class="font-serif text-2xl text-slate-700 mx-auto">
  <%= @article.content %>
</article>
