<% if @article.draft %>
  <p class="text-blue-600 text-xl font-semibold">Brouillon</p>
  <p class="text-blue-500">Les visiteurs ne peuvent pas encore voir cette page</p>
  <div class="mx-auto p-8 border-4 border-blue-300 border-dashed mt-8">
<% end %>

<p class="font-semibold mb-2 text-slate-700"><%= l(@article.created_at, format: "%d %B %Y", locale: :fr) %></p>

<% if @article.main_picture.representable? %>
  <%= image_tag @article.main_picture.representation(resize_to_limit: [500, 500]), class: "object-cover h-64 w-full"%>
<% else %>
  <img src="https://place-hold.it/1200x800" class="object-none h-64 w-full" />
<% end %>

<h1 class="text-5xl font-bold font-serif text-indigo-900 my-8"><%= @article.title %></h1>

<article class="font-serif text-2xl text-slate-700 mx-auto">
  <%= @article.content %>
</article>

<% if @article.draft %>
  </div>
<% end %>
