<header>
  <section class="container px-4 md:px-0 xl:px-32 mx-auto py-4 flex justify-between">
    <%= link_to "Les ingrédients du bonheur", root_path, class: "font-serif font-bold tracking-wide" %>

    <nav class="">
      <%= link_to "Blog", articles_path, class: "text-gray-700 mr-4"%>
      <%= link_to "À propos", about_path, class: "text-gray-700"%>
    </nav>
  </section>
</header>
