<%= image_tag "you.webp", class: "w-36 h-36 rounded-full shadow mb-8 mx-auto"%>

<h2 class="text-center text-xl mb-8">
  <span class="font-semibold text-slate-800">Chloé</span> <span class="text-slate-600">Sophrologue</span>
</h2>
